<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  IgnorableNamespaces="uap rescap">

	<Identity
		Name="FUS-Toolbox-Cpp-Qt"
		Publisher="CN=Soroosh Sanatkhani"
		Version="0.0.1.0" />

	<Properties>
		<DisplayName>FUS Toolbox C++ Qt</DisplayName>
		<PublisherDisplayName>Soroosh Sanatkhani</PublisherDisplayName>
		<Logo>Assets\StoreLogo.png</Logo>
		<Description>Your application description.</Description>
	</Properties>

	<Resources>
		<Resource Language="x-generate" />
	</Resources>

	<Dependencies>
		<TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.17763.0" MaxVersionTested="10.0.19041.0" />
		<TargetDeviceFamily Name="Windows.Desktop" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
	</Dependencies>

	<Capabilities>
		<rescap:Capability Name="runFullTrust" />
	</Capabilities>

	<Applications>
		<Application
			Id="App"
			Executable="$targetnametoken$.exe"
			EntryPoint="Windows.FullTrustApplication">
			<uap:VisualElements
				DisplayName="FUS Toolbox"
				Description="A toolbox to run focused ultrasound transducer and analyze the feedback signal."
				BackgroundColor="transparent"
				Square150x150Logo="Assets\Square150x150Logo.png"
				Square44x44Logo="Assets\Square44x44Logo.png">
				<uap:DefaultTile ShortName="FUS Toolbox C++ Qt" Square310x310Logo="Assets\Square310x310Logo.png"  Square71x71Logo="Assets\SmallTile.png" Wide310x150Logo="Assets\WideTile.png"/>
				<uap:SplashScreen Image="Assets\SplashScreen.png" />
				<uap:InitialRotationPreference>
					<uap:Rotation Preference="landscape"/></uap:InitialRotationPreference>
			</uap:VisualElements>
		</Application>
	</Applications>

</Package>